@model IEnumerable<SahibindenBitirmeProjesi.Entity.Entities.Concrete.Cars>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>

			<td>
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
			</td>
			<td>
				<a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger confirmDeletion">Remove</a>
			</td>

			
		</tr>
}
    </tbody>
</table>
