@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row mt-2">
	<div class="col-sm-12">
		<div class="form-group">
			<h4 class="card-title">List of Roles</h4>
		</div>
		<div class="form-group">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Users</th>
						<th>Edit</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.Name.ToString()</td>
							<td user-role="@item.Id">@item.Id</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
							</td>
							<td>
								<a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-dangerconfirmDeletion">Remove</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<a asp-action="Create" class="btn btn-block btn-primary">Create The New Role</a>
		</div>
	</div>
</div>